.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Navbar{
  background-color: teal;
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.Navbar a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 0px 40px;
  font-weight: bold;

}

.Navbar img{
  width: 200px;
  height: 150px;
  padding: 0px;
  margin: -40px 10px -40px 20px;
  filter: invert(100%);
}


.product {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}

.product td, .product th {
  border: 2px solid #ddd;
  padding: 8px;
}

.product tr:nth-child(even){background-color: #f2f2f2;}

.product tr:hover {background-color: #ddd;}

.product th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}